<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book-Insta 📚 Confirmation</title>
    <link rel="icon" href="../Media/favicon book.gif" />
    <style>
        div {
            margin: 10rem;
            text-align: center;
            color: red;
        }
    </style>
</head>
<body>
    <div>
        <h1>Payment Failed!</h1>
        <h3>Try Next Time...</h3>
    </div>
</body>
</html>