<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book-Insta 📚 Store</title>
    <link rel="icon" href="../Media/favicon book.gif" />
    <link rel="stylesheet" href="../Styles/style store.css">
</head>
<body id="body_store">
    
    <h1 class="head_store">
        <img src="../Media/favicon book.gif" alt="" width="50px" style="vertical-align: middle;">
        Book-Insta 
        <img src="../Media/loop book.gif" alt="" width="50px" style="vertical-align: middle;">
        Store
    </h1>
    <div class="collection" id="books"></div>
    <a class="btn moveTo_cart" href="./Yobs Profile and Cart.html#cart" onclick="saveChoice()">Move To Your Yobs Cart</a>


    <script src="../Script/showBooks.js"></script>
    <script src="../Script/store.js"></script>
    <noscript>JavaScript not supported</noscript>
</body>
</html>