<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Book-Insta 📚 Card Payment</title>
        <link rel="icon" href="../Media/favicon book.gif" />
        <link rel="stylesheet" href="../Styles/style credit.css" />
    </head>
    <body bgcolor="papayawhip">
        <form class="c_card" action="./Yobs Confirmation.html">
            <fieldset>
                <legend>Card Payment 💳</legend>
                <label>
                    Card Holder Name:
                    <input
                        type="text"
                        placeholder="Card Holder Name ..."
                        required
                    /> </label
                ><br />
                <label>
                    Card Number:
                    <input
                        type="number"
                        placeholder="Card Number ..."
                        required
                    /> </label
                ><br />
                <label> Expiry: <input type="date" required /> </label><br />
                <label>
                    CVV:
                    <input
                        type="number"
                        name="cvv"
                        id="cvv"
                        placeholder="000"
                        min="100"
                        max="999"
                        required
                    />
                </label>
                <button type="submit">Pay</button>
            </fieldset>
        </form>
    </body>
</html>
